
# الملفات الضخمة (نماذج مدربة، بيانات، صور)
*.pth
*.pt
*.ckpt
*.h5
*.tar
*.gz
*.png
*.jpg
*.jpeg
*.mp4
*.avi
*.mov


# مجلدات البيانات
__pycache__/
*.pyc

# تجاهل ملف config.txt داخل أي مجلد فرعي تحت experiment
experiment/**/config.txt

# تجاهل مجلد model بالكامل داخل أي مجلد فرعي تحت experiment
experiment/**/model/

# تجاهل مجلد results-DIV2K بالكامل داخل أي مجلد فرعي تحت experiment
experiment/**/results-DIV2K/